<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/pkg/bootstrap-3.3.2-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/pkg/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
</head>
<body>

	<div class="container">
		<h2 th:text="'Hello ' + ${name} + '!'"></h2>
		
		<table border="1">
			<thead>
				<tr>
					<th>값</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${list}">
					<td th:text="${data}"></td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
			<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
			<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
		</div>
		
		<p>
			<button type="button" onclick="goUpdate(); return false;" class="btn btn-sm btn-default">업데이트</button>
		</p>
		<p id="result"></p>
	</div>

	<script src="/resources/js/jquery/jquery-3.1.1.min.js"></script>
	<script src="/resources/pkg/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function goUpdate() {
			$.post("/home/update", { id: "123123" })
			.done(function(data) {
				$("#result").text(data.message);
			})
			.fail(function() {
				$("#result").text("Fail");
			})
			
		}
	</script>
</body>
</html>